#/mcp/*
#!/MCP/src/

#/mcp/src/minecraft/*
#!/mcp/src/minecraft/net

#/mcp/src/minecraft/net*
#!/mcp/src/minecraft/net/test


#!/mcp/resouces


/*
!/resource
!/resources
!/src
!/mcmod.info
!/build.xml

src/minecraft/*
!src/minecraft/net

src/minecraft/net/*
!src/minecraft/net/utilcraft

resources/*
!resources/machinemuse
